@charset "UTF-8";

/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: "Be Vietnam Pro", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

/* Cores da marca */

:root {
    --Cor1: #ffb656;
    --Cor2: #56A38A;
    --Cor3: #2D4A71;
    --Cor4: #0F2437;
}

/* Animações */

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Cabeçalho */

header {
    background-color: #ffffff;
    padding: 10px 0px 10px 10px;
}

div {
    display: flex;
}  

img#logo {
    display: block;
    height: 40px;
    border-radius: 50%;
    box-shadow: 3px 1px 15px #00000042;
    margin-right: 40px;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent; 
}

ul {
    display: flex;
    align-items: center;
    gap: 80px;
    width: max-content;
}

li {
    list-style: none;
}

a.links-menu {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    user-select: none;
    font-weight: 400;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    transition: color 0.3s ease; 
}

a.links-menu.ativo {
    color: var(--Cor2);
    font-weight: 500;
}

/* Corpo do site */

body {
    background: var(--Cor1) url(imagens/horizonte_destktop.jpg) center/cover no-repeat scroll;
    font-family: "Be Vietnam Pro", sans-serif;
    height: 100svh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 40px;
    color: white;
    /* text-align: center; */
}

section#inicio > p {
    color: #ffffffc7;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
}

section#inicio > p > a {
    color: #ffffffe2;
}

.secao.ativa {
    display: block;
}

.secao {
    display: none;
    animation: fadeIn 0.6s ease forwards;
}

/* Rodapé */

footer {
    background-color: var(--Cor4);
    color: var(--White);
    width: 100%;
    height: max-content;
    margin-top: 70px;
    padding: 15px 0px 15px;
}

p#direitos {
    color: #a8a8a8bd;
    text-align: center;
    padding: 0px 20px 0px 20px;
}

/* Responsividade para tablet */

@media (max-width: 900px) {

    img#logo {
        margin-right: 25px;
    }

    a.links-menu {
        font-size: 20px;
    }

    ul {
        gap: 60px;
        /* margin: auto; */
    }

}

/* Responsividade para smartphone */

@media (max-width: 480px) {

    img#logo {
        height: 35px;
        margin-right: 0px;
    }

    a.links-menu {
        font-size: 15px;
        font-weight: 300;
    }

    ul {
        gap: 30px;
        margin: auto;
    }
}
