@charset "UTF-8";

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Be Vietnam Pro", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--Cor1) url(imagens/horizonte_destktop.jpg) right bottom/cover no-repeat fixed;
    height: 100svh;
    min-height: 100dvh;
}

/* Cores */
:root {
    --Cor1: #ffb656;
    --Cor2: #56A38A;
    --Cor3: #2D4A71;
    --Cor4: #0F2437;
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* --- CABEÇALHO --- */
header {
    background: #ededed;
    padding: 10px 0 10px 10px;
    border-bottom: 4px solid #f0f0f0;
}

nav {
    display: flex;
    position: relative;
}

div#area-nav {
    display: flex;
}

img#logo {
    display: block;
    height: 40px;
    border-radius: 50%;
    box-shadow: 3px 1px 10px #00000042;
    margin-right: 40px;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

ul {
    display: flex;
    width: max-content;
    align-items: center;
    gap: 80px;
    position: relative;
}

li {
    list-style: none;
}

a.links-menu {
    position: relative;
    color: #444;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    user-select: none;
    transition: color 0.3s;
}

.links-menu:hover {
    color: #000;
}

a.links-menu.ativo {
    color: var(--Cor2);
    font-weight: 500;
}

.barra-deslizante {
    position: absolute;
    background: var(--Cor2);
    border-radius: 1.5px;
    bottom: -14px;
    width: 0;
    left: 0;
    height: 4px;
    transition: left 0.3s, width 0.3s;
}

/* RESPONSIVIDADE CABEÇALHO */
@media(max-width:900px) {
    img#logo {
        margin-right: 25px;
    }

    ul {
        gap: 60px;
    }

    a.links-menu {
        font-size: 20px;
    }
}

@media(max-width:480px) {
    header {
        padding: 10px 0 8px 10px;
    }

    nav,
    #area-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px 0;
        gap: 10px;
    }

    img#logo {
        height: 38px;
        margin: 0 auto;
    }

    ul {
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        width: 100%;
        margin: 15px auto 0 auto;
    }

    .links-menu {
        font-size: 18px;
        color: #242424;
    }

    .barra-deslizante {
        bottom: -6px;
        transform: translateY(6px);
    }
}

/* --- SEÇÃO INÍCIO --- */
section#area-inicio, section#inicio {
    width: 100%;
    margin: 0;
    padding: 0;
}

#area {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#lado-esquerdo, #lado-direito {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#lado-esquerdo {
    justify-content: space-between;
    height: max-content;
    /* background-color: #ffb656; */
    border-radius: 5px;
}

#bem-vindo {
    flex: 1;
    padding: 60px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bem-vindo > h1 {
    font-size: 35px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

#bem-vindo a {
    background: var(--Cor2);
    width: max-content;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    display: block;
    
}

#bem-vindo a:hover {
    background: #5fb69a;
}

#lado-direito {
    height: max-content;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* background-color: #2D4A71; */
    border-radius: 5px;
}

#slide-show {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide-show img {
    max-width: 90%;
    height: auto;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 8px;
    display: block;
    object-fit: contain;
    position: relative;
}

#slide-show > figure {
    background-color: var(--Cor3);
}

/* RESPONSIVIDADE SEÇÃO INÍCIO */
@media(max-width:800px) {
    #area {
        flex-direction: column;
    }

    #lado-esquerdo,
    #lado-direito {
        width: 100%;
    }

    #lado-esquerdo {
        height: 70%;
    }

    #bem-vindo h1 {
        font-size: 32px;
    }

    #lado-direito {
        height: 500px;
    }

    #slide-show {
        width: 90%;
        height: 300px;
    }
}

@media(max-width:480px) {
    #lado-esquerdo {
        height: max-content;
    }

    #lado-direito {
        height: 300px;
    }

    #bem-vindo h1 {
        text-align: center;
        font-size: 27px;
    }

    #bem-vindo a {
        margin: 30px auto 0 auto;
        padding: 8px 13px;
        font-size: 17px;
    }

    #slide-show>img {
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        border-radius: 2px;
        margin: 0 auto;
        width: 95%;
    }
}

/* --- SEÇÃO FOTOS --- */
section#fotos {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 20px;
    box-sizing: border-box;
}

section#fotos>h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
    color: #fff;
    padding: 0 10px;
}

#div-das-fotos {
    column-count: 4;
    column-gap: 10px;
    direction: ltr;
}

figure {
    display: inline-block;
    width: 100%;
    margin: 0 0 15px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0000001a;
    padding: 10px;
    position: relative;
    break-inside: avoid;
    transition: transform 0.3s, box-shadow 0.3s;
    direction: ltr;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    object-fit: cover;
    transition: transform 0.3s;
    opacity: 0;
    animation: fadeIn 0.6s forwards;
}

figure:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 14px #00000033;
}

figure img:hover {
    transform: scale(1.03);
}

figcaption {
    color: #555;
    font-size: 16px;
    text-align: justify;
    line-height: 23px;
    margin-top: 10px;
    padding: 0 5px;
}

section#frase {
    text-align: center;
    font-size: 22px;
    margin-top: 50px;
}

/* RESPONSIVIDADE SEÇÃO FOTOS */
@media(max-width:1200px) {
    #div-das-fotos {
        column-count: 3;
    }
}

@media(max-width:800px) {
    #div-das-fotos {
        column-count: 2;
    }

    section#fotos>h2 {
        font-size: 30px;
    }
}

@media(max-width:480px) {
    #div-das-fotos {
        column-count: 1;
    }

    figure {
        margin: 0 0 20px;
        padding: 8px;
    }

    figcaption {
        font-size: 15px;
        text-align: center;
        padding: 0 4px;
    }

    section#frase {
        font-size: 17.5px;
    }
}

/* --- SEÇÃO EXPLORAR --- */
#explorar h2 {
    text-align: center;
    margin-top: 15%;
    color: white;
}

/* --- SEÇÕES ATIVAS --- */
section.secao {
    display: none;
    animation: fadeIn 0.6s forwards;
}

section.secao.ativa {
    display: block;
}

/* --- RODAPÉ --- */
footer {
    background: var(--Cor4);
    color: var(--White);
    width: 100%;
    height: max-content;
    margin-top: auto; /* cola o rodapé no final */
    padding: 15px 0;
}

p#direitos {
    color: #a8a8a8bd;
    text-align: center;
    font-size: 14.5px;
    padding: 0 20px;
}

@media(max-width:480px) {
    footer {
        font-size: 12px;
    }
}