@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
}

section#area_perfil {
    background: #1A2A40 url(imagens/por_do_sol.jpg) 50% 80% no-repeat fixed;
    background-size: cover;
    height: 100vh;
    color: white;
    user-select: none;
    position: relative;

}

div#perfil {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    display: flex; 
    position: absolute;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

img {
    width: 150px;
    border: 3.5px solid white;
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    transition: transform 0.2s ease-in-out;

}

img:active {
      transform: scale(1.1);
}

h1#h1_principal {
    padding: 20px 0px 0px 0px;
    font-size: 50px;
}

section > div p > a {
    background-color: #ffffff51;
    color: #F8FAFC;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    
}

section > div p > a:hover {
    border: 1px solid #F8FAFC;
    transform: translate(1s);
}

p#slogan {
    color: #ffffff9e;
    font-size: 25px;
    padding: 10px 0px 50px 0px;
    
}


